openapi: 3.2.0
info:
  contact: {}
  title: Tests Response formats API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Response formats
paths:
  /public/httpbin/v1/brotli:
    get:
      responses:
        '200':
          description: Brotli-encoded data.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns Brotli-encoded data
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Brotli
      x-operation-id-source: derived
  /public/httpbin/v1/deflate:
    get:
      responses:
        '200':
          description: Defalte-encoded data.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns Deflate-encoded data
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Deflate
      x-operation-id-source: derived
  /public/httpbin/v1/deny:
    get:
      responses:
        '200':
          description: Denied message
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns page denied by robots.txt rules
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Deny
      x-operation-id-source: derived
  /public/httpbin/v1/encoding/utf8:
    get:
      responses:
        '200':
          description: Encoded UTF-8 content.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns a UTF-8 encoded body
      tags:
      - Response formats
      operationId: getPublicHttpbinV1EncodingUtf8
      x-operation-id-source: derived
  /public/httpbin/v1/gzip:
    get:
      responses:
        '200':
          description: GZip-encoded data.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns GZip-encoded data
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Gzip
      x-operation-id-source: derived
  /public/httpbin/v1/html:
    get:
      responses:
        '200':
          description: An HTML page.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns a simple HTML document
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Html
      x-operation-id-source: derived
  /public/httpbin/v1/json:
    get:
      responses:
        '200':
          description: An JSON document.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns a simple JSON document
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Json
      x-operation-id-source: derived
  /public/httpbin/v1/robots.txt:
    get:
      responses:
        '200':
          description: Robots file
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns some robots.txt rules
      tags:
      - Response formats
      operationId: getPublicHttpbinV1RobotsTxt
      x-operation-id-source: derived
  /public/httpbin/v1/xml:
    get:
      responses:
        '200':
          description: An XML document.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns a simple XML document
      tags:
      - Response formats
      operationId: getPublicHttpbinV1Xml
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
