openapi: 3.0.0
info:
  contact: {}
  title: Clients AR Account reports Anything API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Anything
paths:
  /public/httpbin/v1/anything:
    delete:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    get:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    patch:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    post:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    put:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
  /public/httpbin/v1/anything/{anything}:
    delete:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    get:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    patch:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    post:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
    put:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data.
      tags:
      - Anything
components:
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
