openapi: 3.0.0
info:
  contact: {}
  title: Clients AR Account reports Status codes API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Status codes
paths:
  /public/httpbin/v1/status/{codes}:
    delete:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
    get:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
    patch:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
    post:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
    put:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
components:
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
