openapi: 3.2.0
info:
  title: Agicap Connections API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Connections across 3 of this provider''s published API definitions: agicap-banking-documents-v1-openapi.json, agicap-business-documents-v1-openapi.json, agicap-business-documents-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Connections
paths:
  /public/banking-documents/v1/entities/{entityId}/connections:
    get:
      operationId: Connections_ListConnections
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Type of the connection. Possible values are PUBLIC_API, SWIFT, EBICS, EDITRAN, KONFIPAY
        in: query
        name: type
        schema:
          items:
            type: string
          type: array
      - in: query
        name: PageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: PageSize
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSummaryPagedResult'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: List connections
      tags:
      - Connections
    post:
      operationId: Connections_CreateConnection
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ConnectionToCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionToCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionToCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSummary'
          description: Your entity has been created.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Create a connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}:
    delete:
      operationId: Connections_DisableConnection
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          content:
            text/plain: {}
          description: The connection has been successfully disabled
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: The targeted entity has not been found.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Delete a connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections:
    get:
      operationId: Connection_GetConnections
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
              - entityId: Entity Id
                id: 13e63366-8cd3-4c07-967a-c683163808a2
                integrationName: Integration Name
                name: Connection Name
                source: Connection Source
              schema:
                items:
                  $ref: '#/components/schemas/ConnectionDto'
                type: array
          description: Connections
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get connections
      tags:
      - Connections
    post:
      operationId: Connection_CreateConnection
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      requestBody:
        content:
          application/*+json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
          application/json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
          text/json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
      responses:
        '201':
          content:
            text/plain: {}
          description: connectionId
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Create a connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}:
    get:
      operationId: Connection_GetConnection
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionDto'
          description: Connection
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections:
    get:
      operationId: Connection_GetConnections
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
              - entityId: Entity Id
                id: 13e63366-8cd3-4c07-967a-c683163808a2
                integrationName: Integration Name
                name: Connection Name
                source: Connection Source
              schema:
                items:
                  $ref: '#/components/schemas/ConnectionDto'
                type: array
          description: Connections
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get connections
      tags:
      - Connections
    post:
      operationId: Connection_CreateConnection
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      requestBody:
        content:
          application/*+json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
          application/json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
          text/json:
            example:
              integrationName: Integration Name
              name: Connection Name
              source: External integrator - IntegratorCompany
            schema:
              $ref: '#/components/schemas/CreateConnectionDto'
      responses:
        '201':
          content:
            text/plain: {}
          description: connectionId
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Create a connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}:
    get:
      operationId: Connection_GetConnection
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionDto'
          description: Connection
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get connection
      tags:
      - Connections
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
components:
  schemas:
    Pagination:
      additionalProperties: false
      properties:
        CurrentPageItemsCount:
          format: int32
          type: integer
        CurrentPageNumber:
          format: int32
          type: integer
        PageSize:
          format: int32
          type: integer
        PagesCount:
          format: int32
          type: integer
        TotalItemsCount:
          format: int32
          type: integer
      type: object
    ConnectionSummary:
      additionalProperties: false
      properties:
        Id:
          description: Connection identifier
          format: uuid
          type: string
        Name:
          description: Connection name
          type: string
        Type:
          description: Type of the connection. Possible values are PUBLIC_API, SWIFT, EBICS, EDITRAN
          type: string
      type: object
    ConnectionSummaryPagedResult:
      additionalProperties: false
      properties:
        Items:
          items:
            $ref: '#/components/schemas/ConnectionSummary'
          type:
          - array
          - 'null'
        Pagination:
          $ref: '#/components/schemas/Pagination'
      type: object
    ConnectionToCreate:
      additionalProperties: false
      properties:
        Name:
          description: Connection name
          type: string
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
    ConnectionDto:
      additionalProperties: false
      properties:
        entityId:
          description: Agicap entity unique identifier
          type: string
        id:
          description: Connection unique identifier
          format: uuid
          type: string
        integrationName:
          description: 'Name of the data source. Example : Sage100, SAP B1'
          type:
          - string
          - 'null'
        name:
          description: Name of the connection
          type: string
        source:
          description: 'Enables the identification of the team responsible for developing the connector. This field helps track which party developed the integration, providing transparency for troubleshooting, support, and future updates.

            - If you are an external integrator, put the "External integrator - `{name_of_your_company}`"

            - If you are the user’s in-house development team, put “Internal  team”'
          type:
          - string
          - 'null'
      title: Connection
      type: object
    CreateConnectionDto:
      additionalProperties: false
      properties:
        integrationName:
          description: Name of the data source
          type:
          - string
          - 'null'
        name:
          description: Name of the connection
          type:
          - string
          - 'null'
        source:
          description: 'Enables the identification of the team responsible for developing the connector. This field helps track which party developed the integration, providing transparency for troubleshooting, support, and future updates.

            - If you are an external integrator, put the "External integrator - `{name_of_your_company}`"

            - If you are the user’s in-house development team, put “Internal  team”'
          type:
          - string
          - 'null'
      title: CreateConnection
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
x-refined-from:
- agicap-banking-documents-v1-openapi.json
- agicap-business-documents-v1-openapi.json
- agicap-business-documents-v2-openapi.json
