openapi: 3.2.0
info:
  contact: {}
  title: Tests Anything API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Anything
paths:
  /public/httpbin/v1/anything:
    delete:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: deletePublicHttpbinV1Anything
      x-operation-id-source: derived
    get:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: getPublicHttpbinV1Anything
      x-operation-id-source: derived
    patch:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: patchPublicHttpbinV1Anything
      x-operation-id-source: derived
    post:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: postPublicHttpbinV1Anything
      x-operation-id-source: derived
    put:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: putPublicHttpbinV1Anything
      x-operation-id-source: derived
  /public/httpbin/v1/anything/{anything}:
    delete:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: deletePublicHttpbinV1AnythingByAnything
      x-operation-id-source: derived
    get:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: getPublicHttpbinV1AnythingByAnything
      x-operation-id-source: derived
    patch:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: patchPublicHttpbinV1AnythingByAnything
      x-operation-id-source: derived
    post:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: postPublicHttpbinV1AnythingByAnything
      x-operation-id-source: derived
    put:
      responses:
        '200':
          description: Anything passed in request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns anything passed in request data
      tags:
      - Anything
      operationId: putPublicHttpbinV1AnythingByAnything
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
