openapi: 3.0.0
info:
  contact: {}
  title: Clients AR Account reports Accrued interests API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Accrued interests
paths:
  /public/financial-investments/v1/entities/{entityId}/accrued-interests:
    get:
      operationId: AccruedInterestsPublicApi_GetAccruedInterestsByCurrency
      parameters:
      - in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccruedInterestsByCurrencyResponse'
          description: Accrued interests by currency.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ProblemDetails'
                - $ref: '#/components/schemas/HttpValidationProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get accrued interests
      tags:
      - Accrued interests
components:
  schemas:
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    HttpValidationProblemDetails:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ProblemDetails'
      - additionalProperties: {}
        properties:
          errors:
            additionalProperties:
              items:
                type: string
              type: array
            type: object
        type: object
    AccruedInterestsResponse:
      additionalProperties: false
      properties:
        lastMonthAmount:
          format: double
          type: number
        lastYearAmount:
          format: double
          type: number
        thisMonthAmount:
          format: double
          type: number
        thisYearAmount:
          format: double
          type: number
      title: AccruedInterests
      type: object
    AccruedInterestsByCurrencyResponse:
      additionalProperties: false
      properties:
        items:
          additionalProperties:
            $ref: '#/components/schemas/AccruedInterestsResponse'
          type: object
      title: AccruedInterestsByCurrency
      type: object
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
