openapi: 3.0.0
info:
  contact: {}
  title: Clients AR Account reports Route payment files API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Route payment files
paths:
  /public/payments/v2/entities/{entityId}/payments-files/import:
    post:
      description: 'Route payment files into Agicap in any standard banking format. Once imported, the files are processed and sent to the bank without any modifications.<br/>Supported Formats: the API supports all standard banking formats in `.xml` and `.txt`


        **Required OAuth scopes:**


        - `agicap:public-api`

        - `public-api:import_payment_files`'
      operationId: PaymentsFile_Import_Post
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: File to be routed. In .xml or .txt format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '204':
          content:
            text/plain: {}
          description: The remittance has been successfully imported.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - public-api:import_payment_files
        - agicap:public-api
      - bearerAuth: []
      summary: Route payment file
      tags:
      - Route payment files
  /public/payments/v2/entities/{entityId}/payments-files/secured-import:
    post:
      description: 'Do not use except if you received dedicated instruction from Agicap’s team. More documentation to come on this use case.


        **Required OAuth scopes:**


        - `agicap:public-api`

        - `public-api:import_payment_files_with_signed_beneficiaries`'
      operationId: PaymentsFile_SecuredImport_Post
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          multipart/form-data:
            encoding:
              keepConfidentiality:
                style: form
              remittanceFile:
                style: form
              signaturesJsonFile:
                style: form
            schema:
              properties:
                keepConfidentiality:
                  description: Boolean indicating whether confidentiality flag in file must be removed or kept
                  type: boolean
                remittanceFile:
                  description: File to be routed. In .xml or .txt format
                  format: binary
                  type: string
                signaturesJsonFile:
                  description: Json file containing account numbers with their signature
                  format: binary
                  type: string
              required:
              - keepConfidentiality
              - remittanceFile
              - signaturesJsonFile
              type: object
      responses:
        '204':
          content:
            text/plain: {}
          description: The remittance has been successfully imported.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - public-api:import_payment_files_with_signed_beneficiaries
        - agicap:public-api
      - bearerAuth: []
      summary: Route payment files with signed beneficiaries
      tags:
      - Route payment files
  /public/payments/v2/entities/{entityId}/remittances/import:
    post:
      deprecated: true
      description: 'Route payment files into Agicap in any standard banking format. Once imported, the files are processed and sent to the bank without any modifications.<br/>Supported Formats: the API supports all standard banking formats in `.xml` and `.txt`<br/><b>Deprecated:</b> Use public-api/payments/v2/entities/{entityId:int}/payments-files/import instead


        **Required OAuth scopes:**


        - `agicap:public-api`

        - `public-api:import_payment_files`'
      operationId: PaymentsFile_Import_Post
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: File to be routed. In .xml or .txt format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '204':
          content:
            text/plain: {}
          description: The remittance has been successfully imported.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - public-api:import_payment_files
        - agicap:public-api
      - bearerAuth: []
      summary: Route payment file
      tags:
      - Route payment files
  /public/payments/v2/entities/{entityId}/remittances/secured-import:
    post:
      deprecated: true
      description: 'Do not use except if you received dedicated instruction from Agicap’s team. More documentation to come on this use case.<br/><b>Deprecated:</b> Use public-api/payments/v2/entities/{entityId:int}/payments-files/secured-import instead


        **Required OAuth scopes:**


        - `agicap:public-api`

        - `public-api:import_payment_files_with_signed_beneficiaries`'
      operationId: PaymentsFile_SecuredImport_Post
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          multipart/form-data:
            encoding:
              keepConfidentiality:
                style: form
              remittanceFile:
                style: form
              signaturesJsonFile:
                style: form
            schema:
              properties:
                keepConfidentiality:
                  description: Boolean indicating whether confidentiality flag in file must be removed or kept
                  type: boolean
                remittanceFile:
                  description: File to be routed. In .xml or .txt format
                  format: binary
                  type: string
                signaturesJsonFile:
                  description: Json file containing account numbers with their signature
                  format: binary
                  type: string
              required:
              - keepConfidentiality
              - remittanceFile
              - signaturesJsonFile
              type: object
      responses:
        '204':
          content:
            text/plain: {}
          description: The remittance has been successfully imported.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - public-api:import_payment_files_with_signed_beneficiaries
        - agicap:public-api
      - bearerAuth: []
      summary: Route payment files with signed beneficiaries
      tags:
      - Route payment files
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      additionalProperties: {}
      properties:
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    PaymentsFileGeneration.Web.Models.Presentations.InvalidThirdPartyProblemDetails:
      additionalProperties: {}
      properties:
        additionalInformations:
          items:
            $ref: '#/components/schemas/PaymentsFileGeneration.Web.Models.Presentations.ThirdPartyPresentation'
          type: array
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      required:
      - additionalInformations
      type: object
    PaymentsFileGeneration.Web.Models.Presentations.ThirdPartyPresentation:
      additionalProperties: false
      properties:
        iban:
          type: string
        name:
          type: string
      required:
      - iban
      - name
      type: object
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
