openapi: 3.2.0
info:
  contact: {}
  title: Tests HTTP Methods API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: HTTP Methods
paths:
  /public/httpbin/v1/delete:
    delete:
      responses:
        '200':
          description: The request's DELETE parameters.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: The request's DELETE parameters
      tags:
      - HTTP Methods
      operationId: deletePublicHttpbinV1Delete
      x-operation-id-source: derived
  /public/httpbin/v1/get:
    get:
      responses:
        '200':
          description: The request's query parameters.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: The request's query parameters
      tags:
      - HTTP Methods
      operationId: getPublicHttpbinV1Get
      x-operation-id-source: derived
  /public/httpbin/v1/patch:
    patch:
      responses:
        '200':
          description: The request's PATCH parameters.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: The request's PATCH parameters
      tags:
      - HTTP Methods
      operationId: patchPublicHttpbinV1Patch
      x-operation-id-source: derived
  /public/httpbin/v1/post:
    post:
      responses:
        '200':
          description: The request's POST parameters.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: The request's POST parameters
      tags:
      - HTTP Methods
      operationId: postPublicHttpbinV1Post
      x-operation-id-source: derived
  /public/httpbin/v1/put:
    put:
      responses:
        '200':
          description: The request's PUT parameters.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: The request's PUT parameters
      tags:
      - HTTP Methods
      operationId: putPublicHttpbinV1Put
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
