openapi: 3.2.0
info:
  contact: {}
  description: '# Introduction


    Welcome to the Agicap Supplier API documentation.'
  title: Suppliers API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Suppliers
paths:
  /public/suppliers/v1/entities/{entityId}:
    get:
      description: 'Returns the suppliers of an entity using cursor-based pagination, so ERP Connectivity can

        diff its catalog against Agicap. Pass the nextCursor of a previous page to fetch the next one.

        Use the optional erpId filter to look up a single supplier.'
      operationId: 2_Suppliers_List
      parameters:
      - description: Agicap entity identifier.
        example: 123456
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Optional filter on a single ERP identifier.
        in: query
        name: erpId
        schema:
          type: string
      - description: Opaque cursor returned as nextCursor by the previous page.
        in: query
        name: cursor
        schema:
          type: string
      - description: Maximum number of suppliers per page (1 to 1000, default 1000).
        example: 1000
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSuppliersResponse'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: List the suppliers of an entity
      tags:
      - Suppliers
  /public/suppliers/v1/entities/{entityId}/sync:
    post:
      description: 'Pushes up to 1000 suppliers (create / update / delete) for an entity in a single call.

        Processing is synchronous and returns a syncId usable to fetch the row-by-row errors.

        If the same erpId appears more than once in a batch, all of its occurrences are rejected and reported as row errors.'
      operationId: 1_Suppliers_Sync
      parameters:
      - description: Agicap entity identifier.
        example: 123456
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncSuppliersRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncSuppliersRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncSuppliersRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuppliersResponse'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
        - public-api:manage-suppliers
      - bearerAuth: []
      summary: Synchronize a batch of suppliers
      tags:
      - Suppliers
  /public/suppliers/v1/entities/{entityId}/sync/{syncId}:
    get:
      description: 'Returns the row-by-row errors of a previous synchronization, paginated.

        The syncId is the one returned by the synchronize endpoint.'
      operationId: 3_Suppliers_SyncErrors
      parameters:
      - description: Agicap entity identifier.
        example: 123456
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Synchronization identifier returned by the synchronize endpoint.
        example: 1660e6c3-54fd-402f-be8e-7748efd94791
        in: path
        name: syncId
        required: true
        schema:
          format: uuid
          type: string
      - description: Opaque cursor returned as cursor.after by the previous page. Omit to fetch the first page.
        in: query
        name: after
        schema:
          type: string
      - description: Page size (1 to 200, default 50).
        example: 50
        in: query
        name: size
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierSyncErrorsResponse'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
        - public-api:manage-suppliers
      - bearerAuth: []
      summary: Get the synchronization errors of a batch
      tags:
      - Suppliers
components:
  schemas:
    CursorDto:
      additionalProperties: false
      description: Opaque-token pagination cursor.
      properties:
        after:
          description: Opaque token to pass as the `after` query parameter to fetch the next page.
          type:
          - string
          - 'null'
        isLastPage:
          description: Whether the current page is the last one.
          example: false
          type: boolean
        size:
          description: Number of errors per page.
          example: 50
          format: int32
          type: integer
      type: object
    SupplierResponse:
      additionalProperties: false
      description: A supplier as returned by the suppliers endpoints.
      properties:
        contacts:
          description: Contacts of the supplier.
          items:
            $ref: '#/components/schemas/ContactResponse'
          type:
          - array
          - 'null'
        createdAt:
          description: Date and time at which the supplier was first created in Agicap.
          format: date-time
          type:
          - string
          - 'null'
        erpId:
          description: Identifier of the supplier in the client's ERP.
          type:
          - string
          - 'null'
        id:
          description: Stable Agicap identifier of the supplier.
          example: 1660e6c3-54fd-402f-be8e-7748efd94791
          format: uuid
          type: string
        language:
          description: Preferred language of the supplier (ISO 639-1 code).
          type:
          - string
          - 'null'
        legalAddress:
          $ref: '#/components/schemas/LegalAddressResponse'
        legalCompanyId:
          description: Legal company identifier of the supplier.
          type:
          - string
          - 'null'
        legalName:
          description: Legal name of the supplier.
          type:
          - string
          - 'null'
        name:
          description: Display name of the supplier.
          type:
          - string
          - 'null'
        primaryContact:
          $ref: '#/components/schemas/ContactResponse'
        status:
          description: Lifecycle status of the supplier.
          type:
          - string
          - 'null'
        tags:
          description: Free-form tags associated with the supplier.
          items:
            type: string
          type:
          - array
          - 'null'
        thirdPartyCode:
          description: Third-party accounting code of the supplier.
          type:
          - string
          - 'null'
        updatedAt:
          description: Date and time at which the supplier was last updated in Agicap.
          format: date-time
          type:
          - string
          - 'null'
        vatCode:
          description: VAT code of the supplier.
          type:
          - string
          - 'null'
      type: object
    SyncSuppliersRequest:
      additionalProperties: false
      description: Payload of a supplier synchronization batch.
      properties:
        suppliers:
          description: Suppliers to create, update or delete in this batch (up to 1000 items).
          items:
            $ref: '#/components/schemas/SupplierSyncItem'
          type:
          - array
          - 'null'
      required:
      - suppliers
      type: object
    ContactDto:
      additionalProperties: false
      description: A contact attached to a supplier.
      properties:
        email:
          description: Email address of the contact.
          type:
          - string
          - 'null'
        name:
          description: Full name of the contact.
          type:
          - string
          - 'null'
        phone:
          description: Phone number of the contact.
          type:
          - string
          - 'null'
        role:
          description: Role of the contact within the supplier organization.
          type:
          - string
          - 'null'
      type: object
    SupplierSyncErrorsResponse:
      additionalProperties: false
      description: Cursor-paginated row-by-row errors of a previous supplier synchronization.
      properties:
        cursor:
          $ref: '#/components/schemas/CursorDto'
        items:
          description: Errors of the current page, one entry per failed row.
          items:
            $ref: '#/components/schemas/SupplierSyncErrorItem'
          type:
          - array
          - 'null'
        status:
          description: Overall progress status of the synchronization.
          example: CompletedWithErrors
          type:
          - string
          - 'null'
        syncId:
          description: Identifier of the synchronization the errors belong to.
          example: 1660e6c3-54fd-402f-be8e-7748efd94791
          format: uuid
          type: string
        totalCount:
          description: Total number of errors across all pages.
          example: 3
          format: int32
          type: integer
      type: object
    LegalAddressResponse:
      additionalProperties: false
      description: Legal address of a supplier, as returned by the suppliers endpoints.
      properties:
        city:
          description: City of the address.
          type:
          - string
          - 'null'
        country:
          description: Country of the address (ISO 3166 2-letter code).
          type:
          - string
          - 'null'
        number:
          description: Building / street number of the address (ISO 20022).
          type:
          - string
          - 'null'
        postalCode:
          description: Postal / ZIP code of the address.
          type:
          - string
          - 'null'
        state:
          description: State or region of the address.
          type:
          - string
          - 'null'
        streetName:
          description: Street name of the address (ISO 20022).
          type:
          - string
          - 'null'
      required:
      - country
      type: object
    SupplierSyncErrorItem:
      additionalProperties: false
      properties:
        erpId:
          type:
          - string
          - 'null'
        reason:
          type:
          - string
          - 'null'
        rowNumber:
          format: int32
          type: integer
      type: object
    SyncSuppliersResponse:
      additionalProperties: false
      description: Result of a supplier synchronization batch.
      properties:
        syncId:
          description: Identifier of the synchronization, used to fetch its row-by-row errors.
          example: 1660e6c3-54fd-402f-be8e-7748efd94791
          format: uuid
          type: string
      type: object
    ListSuppliersResponse:
      additionalProperties: false
      description: A cursor-paginated page of suppliers.
      properties:
        items:
          description: Suppliers of the current page.
          items:
            $ref: '#/components/schemas/SupplierResponse'
          type:
          - array
          - 'null'
        nextCursor:
          description: Opaque cursor to pass back to fetch the next page, or null when the last page is reached.
          type:
          - string
          - 'null'
      type: object
    SupplierSyncItem:
      additionalProperties: false
      description: A single supplier to create, update or delete within a synchronization batch.
      properties:
        contacts:
          description: Contacts of the supplier.
          items:
            $ref: '#/components/schemas/ContactDto'
          type:
          - array
          - 'null'
        erpId:
          description: Identifier of the supplier in the client's ERP. Used to match the supplier on subsequent syncs.
          type:
          - string
          - 'null'
        language:
          description: Preferred language of the supplier (ISO 639-1 code).
          type:
          - string
          - 'null'
        legalAddress:
          $ref: '#/components/schemas/LegalAddressDto'
        legalCompanyId:
          description: Legal company identifier of the supplier (e.g. SIREN / VAT-free registration number).
          type:
          - string
          - 'null'
        legalName:
          description: Legal name of the supplier, when it differs from the display name.
          type:
          - string
          - 'null'
        name:
          description: Display name of the supplier.
          type:
          - string
          - 'null'
        primaryContact:
          $ref: '#/components/schemas/ContactDto'
        status:
          description: Lifecycle status of the supplier as pushed by the ERP.
          type:
          - string
          - 'null'
        tags:
          description: Free-form tags associated with the supplier.
          items:
            type: string
          type:
          - array
          - 'null'
        thirdPartyCode:
          description: Third-party accounting code of the supplier.
          type:
          - string
          - 'null'
        vatCode:
          description: VAT code of the supplier.
          type:
          - string
          - 'null'
      type: object
    ContactResponse:
      additionalProperties: false
      description: A contact attached to a supplier, as returned by the suppliers endpoints.
      properties:
        email:
          description: Email address of the contact.
          type:
          - string
          - 'null'
        name:
          description: Full name of the contact.
          type:
          - string
          - 'null'
        phone:
          description: Phone number of the contact.
          type:
          - string
          - 'null'
        role:
          description: Role of the contact within the supplier organization.
          type:
          - string
          - 'null'
      type: object
    LegalAddressDto:
      additionalProperties: false
      description: Legal address of a supplier.
      properties:
        city:
          description: City of the address.
          type:
          - string
          - 'null'
        country:
          description: Country of the address (ISO 3166 2-letter code).
          type:
          - string
          - 'null'
        number:
          description: Building / street number of the address (ISO 20022).
          type:
          - string
          - 'null'
        postalCode:
          description: Postal / ZIP code of the address.
          type:
          - string
          - 'null'
        state:
          description: State or region of the address.
          type:
          - string
          - 'null'
        streetName:
          description: Street name of the address (ISO 20022).
          type:
          - string
          - 'null'
      required:
      - country
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
            public-api:manage-suppliers: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
