openapi: 3.2.0
info:
  contact: {}
  title: Tests Cookies API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Cookies
paths:
  /public/httpbin/v1/cookies:
    get:
      responses:
        '200':
          description: Set cookies.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns cookie data
      tags:
      - Cookies
      operationId: getPublicHttpbinV1Cookies
      x-operation-id-source: derived
  /public/httpbin/v1/cookies/delete:
    get:
      parameters:
      - in: query
        name: freeform
        schema:
          allowEmptyValue: true
      responses:
        '200':
          description: Redirect to cookie list
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Deletes cookie(s) as provided by the query string and redirects to cookie list
      tags:
      - Cookies
      operationId: getPublicHttpbinV1CookiesDelete
      x-operation-id-source: derived
  /public/httpbin/v1/cookies/set:
    get:
      parameters:
      - in: query
        name: freeform
        schema:
          allowEmptyValue: true
      responses:
        '200':
          description: Redirect to cookie list
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Sets cookie(s) as provided by the query string and redirects to cookie list
      tags:
      - Cookies
      operationId: getPublicHttpbinV1CookiesSet
      x-operation-id-source: derived
  /public/httpbin/v1/cookies/set/{name}/{value}:
    get:
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: path
        name: value
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Set cookies and redirects to cookie list.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Sets a cookie and redirects to cookie list
      tags:
      - Cookies
      operationId: getPublicHttpbinV1CookiesSetByNameByValue
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
