openapi: 3.2.0
info:
  contact: {}
  title: Tests Redirects API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Redirects
paths:
  /public/httpbin/v1/absolute-redirect/{n}:
    get:
      parameters:
      - in: path
        name: n
        required: true
        schema:
          type: int
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Absolutely 302 Redirects n times
      tags:
      - Redirects
      operationId: getPublicHttpbinV1AbsoluteRedirectByN
      x-operation-id-source: derived
  /public/httpbin/v1/redirect-to:
    delete:
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302/3XX Redirects to the given URL
      tags:
      - Redirects
      operationId: deletePublicHttpbinV1RedirectTo
      x-operation-id-source: derived
    get:
      parameters:
      - in: query
        name: url
        required: true
        schema:
          type: string
      - in: query
        name: status_code
        schema:
          type: int
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302/3XX Redirects to the given URL
      tags:
      - Redirects
      operationId: getPublicHttpbinV1RedirectTo
      x-operation-id-source: derived
    patch:
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302/3XX Redirects to the given URL
      tags:
      - Redirects
      operationId: patchPublicHttpbinV1RedirectTo
      x-operation-id-source: derived
    post:
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                status_code:
                  type: int
                  x-formData-name: status_code
                url:
                  type: string
                  x-formData-name: url
              required:
              - url
              type: object
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302/3XX Redirects to the given URL
      tags:
      - Redirects
      operationId: postPublicHttpbinV1RedirectTo
      x-operation-id-source: derived
    put:
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                status_code:
                  type: int
                  x-formData-name: status_code
                url:
                  type: string
                  x-formData-name: url
              required:
              - url
              type: object
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302/3XX Redirects to the given URL
      tags:
      - Redirects
      operationId: putPublicHttpbinV1RedirectTo
      x-operation-id-source: derived
  /public/httpbin/v1/redirect/{n}:
    get:
      parameters:
      - in: path
        name: n
        required: true
        schema:
          type: int
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: 302 Redirects n times
      tags:
      - Redirects
      operationId: getPublicHttpbinV1RedirectByN
      x-operation-id-source: derived
  /public/httpbin/v1/relative-redirect/{n}:
    get:
      parameters:
      - in: path
        name: n
        required: true
        schema:
          type: int
      responses:
        '302':
          description: A redirection.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Relatively 302 Redirects n times
      tags:
      - Redirects
      operationId: getPublicHttpbinV1RelativeRedirectByN
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
