openapi: 3.2.0
info:
  contact: {}
  title: Tests Status codes API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Status codes
paths:
  /public/httpbin/v1/status/{codes}:
    delete:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
      operationId: deletePublicHttpbinV1StatusByCodes
      x-operation-id-source: derived
    get:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
      operationId: getPublicHttpbinV1StatusByCodes
      x-operation-id-source: derived
    patch:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
      operationId: patchPublicHttpbinV1StatusByCodes
      x-operation-id-source: derived
    post:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
      operationId: postPublicHttpbinV1StatusByCodes
      x-operation-id-source: derived
    put:
      parameters:
      - in: path
        name: codes
        required: true
        schema: {}
      responses:
        '100':
          description: Informational responses
        '200':
          description: Success
        '300':
          description: Redirection
        '400':
          description: Client Errors
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          description: Server Errors
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return status code or random status code if more than one are given
      tags:
      - Status codes
      operationId: putPublicHttpbinV1StatusByCodes
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
