openapi: 3.2.0
info:
  title: Agicap Beta API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Beta across 2 of this provider''s published API definitions: agicap-business-documents-v1-openapi.json, agicap-business-documents-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Beta
paths:
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/client-credit-notes/{id}/attach-readable:
    post:
      operationId: Beta_ClientCreditNoteAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on client credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/client-credit-notes/{id}/unattach-readable:
    delete:
      operationId: Beta_ClientCreditNoteUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on client credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/client-invoices/{id}/attach-readable:
    post:
      operationId: Beta_ClientInvoiceAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on client invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/client-invoices/{id}/unattach-readable:
    delete:
      operationId: Beta_ClientInvoiceUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on client invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/supplier-credit-notes/{id}/attach-readable:
    post:
      operationId: Beta_SupplierCreditNoteAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on supplier credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/supplier-credit-notes/{id}/unattach-readable:
    delete:
      operationId: Beta_SupplierCreditNoteUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on supplier credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/supplier-invoices/{id}/attach-readable:
    post:
      operationId: Beta_SupplierInvoiceAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on supplier invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v1/entities/{entityid}/connections/{connectionid}/supplier-invoices/{id}/unattach-readable:
    delete:
      operationId: Beta_SupplierInvoiceUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on supplier invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/client-credit-notes/{id}/attach-readable:
    post:
      operationId: Beta_ClientCreditNoteAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on client credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/client-credit-notes/{id}/unattach-readable:
    delete:
      operationId: Beta_ClientCreditNoteUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on client credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/client-invoices/{id}/attach-readable:
    post:
      operationId: Beta_ClientInvoiceAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on client invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/client-invoices/{id}/unattach-readable:
    delete:
      operationId: Beta_ClientInvoiceUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on client invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/supplier-credit-notes/{id}/attach-readable:
    post:
      operationId: Beta_SupplierCreditNoteAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on supplier credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/supplier-credit-notes/{id}/unattach-readable:
    delete:
      operationId: Beta_SupplierCreditNoteUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on supplier credit note
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/supplier-invoices/{id}/attach-readable:
    post:
      operationId: Beta_SupplierInvoiceAttachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  description: Readable file of the document in PDF format
                  format: binary
                  type: string
              required:
              - file
              type: object
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Attach readable on supplier invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
  /public/business-documents/v2/entities/{entityid}/connections/{connectionid}/supplier-invoices/{id}/unattach-readable:
    delete:
      operationId: Beta_SupplierInvoiceUnattachReadable
      parameters:
      - description: Agicap entity unique identifier
        in: path
        name: entityid
        required: true
        schema:
          description: Agicap entity unique identifier
          type: string
      - description: The connection unique identifier
        in: path
        name: connectionid
        required: true
        schema:
          description: The connection unique identifier
          format: uuid
          type: string
      - description: Unique identifier generated by Agicap
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier generated by Agicap
          format: uuid
          type: string
      responses:
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                properties:
                  detail:
                    description: Details of the error
                    type:
                    - string
                    - 'null'
                  instance:
                    type:
                    - string
                    - 'null'
                  status:
                    description: Code status
                    type:
                    - integer
                    - 'null'
                  title:
                    description: Name of the error
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type of error
                    type:
                    - string
                    - 'null'
                type: object
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Unattach readable on supplier invoice
      tags:
      - Beta
    servers:
    - url: https://api.agicap.com
    - url: https://api.agicap.internal
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
x-refined-from:
- agicap-business-documents-v1-openapi.json
- agicap-business-documents-v2-openapi.json
