openapi: 3.2.0
info:
  contact: {}
  description: '# Getting Started:


    Welcome to the Banking Document API documentation.'
  title: Banking Documents Account reports API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Account Reports
paths:
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/account-reports:
    get:
      operationId: AccountReports_ListAccountReports
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Bank file format
        in: query
        name: format
        schema:
          items:
            type: string
          type: array
      - description: Will return only account reports created **after** this date
        in: query
        name: createdSince
        schema:
          format: date-time
          type: string
      - description: Will return only account reports created **before** this date
        in: query
        name: createdUntil
        schema:
          format: date-time
          type: string
      - description: File identifier
        in: query
        name: fileId
        schema:
          format: uuid
          type: string
      - description: Will return only account reports of this account number
        in: query
        name: accountNumber
        schema:
          type: string
      - in: query
        name: PageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: PageSize
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReportSummaryPagedResult'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: List account reports
      tags:
      - Account Reports
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/account-reports/{accountReportId}:
    get:
      operationId: AccountReports_DownloadAccountReport
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account report identifier
        in: path
        name: accountReportId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Your request has been successfully processed.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Download an account report
      tags:
      - Account Reports
components:
  schemas:
    AccountReportSummary:
      additionalProperties: false
      properties:
        AccountNumber:
          description: Account number of the report
          type:
          - string
          - 'null'
        ConnectionId:
          description: Connection identifier
          format: uuid
          type: string
        CreatedAt:
          description: Creation date (UTC) of the file
          format: date-time
          type: string
        FileId:
          description: File identifier
          format: uuid
          type: string
        Filename:
          description: File name
          type: string
        Format:
          description: Bank file format
          type:
          - string
          - 'null'
        Id:
          description: Account report identifier
          format: uuid
          type: string
      type: object
    AccountReportSummaryPagedResult:
      additionalProperties: false
      properties:
        Items:
          items:
            $ref: '#/components/schemas/AccountReportSummary'
          type:
          - array
          - 'null'
        Pagination:
          $ref: '#/components/schemas/Pagination'
      type: object
    Pagination:
      additionalProperties: false
      properties:
        CurrentPageItemsCount:
          format: int32
          type: integer
        CurrentPageNumber:
          format: int32
          type: integer
        PageSize:
          format: int32
          type: integer
        PagesCount:
          format: int32
          type: integer
        TotalItemsCount:
          format: int32
          type: integer
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
