openapi: 3.2.0
info:
  contact: {}
  description: '# Getting Started:


    Welcome to the Banking Document API documentation.'
  title: Banking Documents Bank files API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Bank files
paths:
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/files:
    get:
      operationId: BankFiles_ListBankFilesOfConnection
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Bank file format
        in: query
        name: format
        schema:
          items:
            type: string
          type: array
      - description: Bank file type. Possible value are STATEMENT, ACCOUNT_REPORT, OTHER, UNKNOWN
        in: query
        name: type
        schema:
          items:
            type: string
          type: array
      - description: Will return only bank files created **after** this date
        in: query
        name: createdSince
        schema:
          format: date-time
          type: string
      - description: Will return only bank files created **before** this date
        in: query
        name: createdUntil
        schema:
          format: date-time
          type: string
      - in: query
        name: PageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: PageSize
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankFileSummaryPagedResult'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: List bank files
      tags:
      - Bank files
    post:
      operationId: BankFiles_PushBankFile
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  format: binary
                  type: string
              type: object
      responses:
        '201':
          content:
            text/plain: {}
          description: Your entity has been created.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Push a bank file
      tags:
      - Bank files
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/files/{fileId}:
    delete:
      operationId: BankFiles_DeleteConnection
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: File identifier
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          content:
            text/plain: {}
          description: The file has been successfully deleted
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: The targeted entity has not been found.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Delete a file
      tags:
      - Bank files
    get:
      operationId: BankFiles_GetNormalizedFile
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: File identifier
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Your request has been successfully processed.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Download a bank file
      tags:
      - Bank files
components:
  schemas:
    BankFileSummaryPagedResult:
      additionalProperties: false
      properties:
        Items:
          items:
            $ref: '#/components/schemas/BankFileSummary'
          type:
          - array
          - 'null'
        Pagination:
          $ref: '#/components/schemas/Pagination'
      type: object
    Pagination:
      additionalProperties: false
      properties:
        CurrentPageItemsCount:
          format: int32
          type: integer
        CurrentPageNumber:
          format: int32
          type: integer
        PageSize:
          format: int32
          type: integer
        PagesCount:
          format: int32
          type: integer
        TotalItemsCount:
          format: int32
          type: integer
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
    BankFileSummary:
      additionalProperties: false
      properties:
        ConnectionId:
          description: Connection identifier
          format: uuid
          type: string
        CreatedAt:
          description: Creation date (UTC) of the file
          format: date-time
          type: string
        Format:
          description: Bank file format
          type: string
        Id:
          description: File identifier
          format: uuid
          type: string
        Name:
          description: File name
          type: string
        Type:
          description: Bank file type. Possible value are STATEMENT, ACCOUNT_REPORT, OTHER, UNKNOWN
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
