openapi: 3.0.0
info:
  contact: {}
  title: Clients AR Account reports API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Account reports
paths:
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/account-reports:
    get:
      operationId: AccountReports_ListAccountReports
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Bank file format
        in: query
        name: format
        schema:
          items:
            type: string
          type: array
      - description: Will return only account reports created **after** this date
        in: query
        name: createdSince
        schema:
          format: date-time
          type: string
      - description: Will return only account reports created **before** this date
        in: query
        name: createdUntil
        schema:
          format: date-time
          type: string
      - description: File identifier
        in: query
        name: fileId
        schema:
          format: uuid
          type: string
      - description: Will return only account reports of this account number
        in: query
        name: accountNumber
        schema:
          type: string
      - in: query
        name: PageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: PageSize
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReportSummaryPagedResult'
          description: Your request has been successfully processed.
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Your request is invalid.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: List account reports
      tags:
      - Account reports
  /public/banking-documents/v1/entities/{entityId}/connections/{connectionId}/account-reports/{accountReportId}:
    get:
      operationId: AccountReports_DownloadAccountReport
      parameters:
      - description: Agicap entity identifier
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Connection identifier
        in: path
        name: connectionId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account report identifier
        in: path
        name: accountReportId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Your request has been successfully processed.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Download an account report
      tags:
      - Account reports
components:
  schemas:
    Pagination:
      additionalProperties: false
      properties:
        CurrentPageItemsCount:
          format: int32
          type: integer
        CurrentPageNumber:
          format: int32
          type: integer
        PageSize:
          format: int32
          type: integer
        PagesCount:
          format: int32
          type: integer
        TotalItemsCount:
          format: int32
          type: integer
      type: object
    AccountReportSummaryPagedResult:
      additionalProperties: false
      properties:
        Items:
          items:
            $ref: '#/components/schemas/AccountReportSummary'
          nullable: true
          type: array
        Pagination:
          $ref: '#/components/schemas/Pagination'
      type: object
    AccountReportSummary:
      additionalProperties: false
      properties:
        AccountNumber:
          description: Account number of the report
          nullable: true
          type: string
        ConnectionId:
          description: Connection identifier
          format: uuid
          type: string
        CreatedAt:
          description: Creation date (UTC) of the file
          format: date-time
          type: string
        FileId:
          description: File identifier
          format: uuid
          type: string
        Filename:
          description: File name
          type: string
        Format:
          description: Bank file format
          nullable: true
          type: string
        Id:
          description: Account report identifier
          format: uuid
          type: string
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
