openapi: 3.2.0
info:
  contact: {}
  title: Financial investments Accrued interests API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Accrued interests
paths:
  /public/financial-investments/v1/entities/{entityId}/accrued-interests:
    get:
      operationId: AccruedInterestsPublicApi_GetAccruedInterestsByCurrency
      parameters:
      - in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccruedInterestsByCurrencyResponse'
          description: Accrued interests by currency.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ProblemDetails'
                - $ref: '#/components/schemas/HttpValidationProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Get accrued interests
      tags:
      - Accrued interests
components:
  schemas:
    AccruedInterestsByCurrencyResponse:
      additionalProperties: false
      properties:
        items:
          additionalProperties:
            $ref: '#/components/schemas/AccruedInterestsResponse'
          type: object
      title: AccruedInterestsByCurrency
      type: object
    HttpValidationProblemDetails:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ProblemDetails'
      - additionalProperties: {}
        properties:
          errors:
            additionalProperties:
              items:
                type: string
              type: array
            type: object
        type: object
    AccruedInterestsResponse:
      additionalProperties: false
      properties:
        lastMonthAmount:
          format: double
          type: number
        lastYearAmount:
          format: double
          type: number
        thisMonthAmount:
          format: double
          type: number
        thisYearAmount:
          format: double
          type: number
      title: AccruedInterests
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
