openapi: 3.2.0
info:
  contact: {}
  title: Tests Request inspection API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Request inspection
paths:
  /public/httpbin/v1/headers:
    get:
      responses:
        '200':
          description: The request's headers.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return the incoming request's HTTP headers
      tags:
      - Request inspection
      operationId: getPublicHttpbinV1Headers
      x-operation-id-source: derived
  /public/httpbin/v1/ip:
    get:
      responses:
        '200':
          description: The Requester's IP Address.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Returns the requester's IP Address
      tags:
      - Request inspection
      operationId: getPublicHttpbinV1Ip
      x-operation-id-source: derived
  /public/httpbin/v1/user-agent:
    get:
      responses:
        '200':
          description: The request's User-Agent header.
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
      security:
      - client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Return the incoming requests's User-Agent header
      tags:
      - Request inspection
      operationId: getPublicHttpbinV1UserAgent
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    client_credentials:
      description: Client Credentials
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
