openapi: 3.2.0
info:
  contact: {}
  description: This API allows you to export bank journal entries that were produced in our Treasury product.
  title: Treasury Bank Journal Causales API
  version: v1
servers:
- url: https://api.agicap.com
- url: https://api.agicap.internal
tags:
- name: Causales
paths:
  /public/treasury-bank-journal/v1/entities/{entityId}/causales:
    post:
      operationId: CreateCausales
      parameters:
      - description: Agicap entity identifier
        example: 456897
        in: path
        name: entityId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/*+json:
            example:
              causales:
              - code: Causale1Code
                description: Causale 1 Description
              - code: Causale2Code
                description: Causale 2 Description
            schema:
              allOf:
              - $ref: '#/components/schemas/CausalesRequestDto'
          application/json:
            example:
              causales:
              - code: Causale1Code
                description: Causale 1 Description
              - code: Causale2Code
                description: Causale 2 Description
            schema:
              allOf:
              - $ref: '#/components/schemas/CausalesRequestDto'
          text/json:
            example:
              causales:
              - code: Causale1Code
                description: Causale 1 Description
              - code: Causale2Code
                description: Causale 2 Description
            schema:
              allOf:
              - $ref: '#/components/schemas/CausalesRequestDto'
        description: Request body with the list of causales to create
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized request.
        '403':
          description: Forbidden request.
        '429':
          description: Too many requests. Please try again later.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: An internal server occurred.
      security:
      - bearer_client_credentials:
        - agicap:public-api
      - bearerAuth: []
      summary: Create causales
      tags:
      - Causales
components:
  schemas:
    CausalesRequestDto:
      additionalProperties: false
      properties:
        causales:
          items:
            $ref: '#/components/schemas/CausaleRequestDto'
          type: array
      required:
      - causales
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          format: int32
          type:
          - integer
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      type: object
    CausaleRequestDto:
      additionalProperties: false
      properties:
        code:
          type: string
        description:
          type: string
      required:
      - code
      - description
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OPAQUE
      scheme: bearer
      type: http
    bearer_client_credentials:
      description: 'Client credentials: bearer'
      flows:
        clientCredentials:
          scopes:
            agicap:public-api: ''
          tokenUrl: https://myaccount.agicap.com/connect/token
      type: oauth2
